* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-left .iconn img {
  width: 50px;
  height: auto;
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 38px;
}

.nav-right .cart-wishlist,
.nav-right .icon {
  position: relative;
  display: inline-block;
}

.nav-right .icon img {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.nav-right .overlay-text {
  position: absolute;
  top: 28px;
  left: 56%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #555;
  text-align: center;
}

.nav-right .icon:hover .overlay-text {
  visibility: visible;
}
#cart-count {
  background-color: #ff4d4d;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: -5px;
  right: -10px;
}
#cart-wishlist {
  background-color: #ff4d4d;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: -5px;
  right: -10px;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.product-card {
  background-color: white;
  width: 254px;
  margin: 9px;
  padding: 14px;
  border-radius: 5px;
  box-shadow: 0 4px 1-6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card img {
  width: 113%;
  height: auto;
  border-radius: 0px;
  margin-left: -14px;
  margin-top: -19px;
}

.product-card h3 {
  font-size: 12px;
  font-weight: bold;
  color: #333;
}

.product-card p {
  font-size: 18px;
  color: #555;
}

.price {
  font-size: 13px;
  /* font-weight: bold; */
  color: #e91e63;
}

.add-to-cart-btn {
  position: absolute;

  border: none;
  border-radius: -9px;
  font-size: 12px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  bottom: 102px;
  left: 40%;
  transform: translateX(-37%);
  color: #787575;
  padding: 12px 9px;
}
.add-to-cart:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.product-card:hover .add-to-cart-btn {
  opacity: 1;
  visibility: visible;
}

.add-to-cart-btn:hover {
  background-color: #c1b0b0;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.wishlist-icon {
  font-size: 20px;
  cursor: pointer;
  color: grey;
  transition: color 0.3s ease;
}

.wishlist-icon:hover {
  color: red;
}
