* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-left .iconn img {
  width: 50px;
  height: auto;
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 38px;
}

.nav-right .cart-wishlist,
.nav-right .icon {
  position: relative;
  display: inline-block;
}

.nav-right .icon img {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.nav-right .overlay-text {
  position: absolute;
  top: 28px;
  left: 56%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #555;
  text-align: center;
}

.nav-right .icon:hover .overlay-text {
  visibility: visible;
}
